.flex-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}
.center-text {
  flex-direction: "column";
  color: #fff !important;
  text-align: center !important;
}

.view {
  background: url("../../images/bg_image.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.link-override {
  color: white !important;
  outline: none;
}

.MuiToolbar-gutters-66,
.MuiToolbar-regular-67 {
  padding-right: 0 !important;
}

button:focus {
  outline: 0 !important;
}

.MuiButton-root-87 {
  color: #fff !important;
}

.navbar-btns-container {
  padding: 0 20px 0 20px;
}

body {
  background: #fafafa;
}
